.menu-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 10;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

// [data-menu] {
//   display: none;
// }
[data-menu].is-open {
  display: block;
}
.menu-button:focus,
.menu-button:hover {
  fill: var(--accent-color);
}

.header {
  position: relative;
  border: 1px solid #ececec;
}

.icon-address {
  fill: #757575;
}

.header-menu {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  z-index: 5;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 60px;

  &-list-link:focus,
  &-list-link:hover {
    color: var(--accent-color);
  }
}
.nav-list-link {
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
  color: var(--accent-color);
}

.navigation-list-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-link {
  color: var(--accent-color);
}

.header-contact-mail,
.header-contacts {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  color: #757575;
}
.header-contact-link:not(:last-child) {
  padding-bottom: 16px;
}
.header-contact {
  margin-left: 40px;
  padding-top: 302px;
}

@media screen and (max-width: 767px) {
  .header-menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 48px 0 48px 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 100%;
  }
  &.is-open {
    display: block;
  }

  .navigation-list-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .header-contact-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    color: #757575;
  }
  .header-contacts.mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    color: #757575;
  }

  .header-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    color: #2196f3;
  }
  .header-contact {
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .header-contact-link {
    padding-bottom: 32px;
  }

  .icon-address {
    display: none;
  }
  .social-header-list {
    display: flex;
    align-items: center;
    padding-top: 54px;
  }
  .social-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    color: #2196f3;
  }
  .line {
    width: 22px;
    height: 0px;
    color: rgba(33, 33, 33, 0.2);
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header-menu {
    height: 80px;
    display: flex;
    justify-content: space-around;
    position: relative;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-contact {
    padding-top: 21px;
  }
  .navigation-list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: space-around;
    position: relative;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .nav-list-link::after {
    position: absolute;
  }
  .nav-list-link:after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .navigation-list-link {
    padding-top: 32px;
    display: block;
    padding-bottom: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    //color: #212121;
  }

  .header-contact-mail,
  .header-contacts {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    color: #757575;
  }
  .social-header-list {
    display: none;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  margin-right: 88px;
}

.header-contact-link:not(:last-child) {
  padding-bottom: 10px;
}

.icon-address {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: flex;
    padding-top: 32px;
  }
  .header-contact-mail,
  .header-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    color: #757575;
  }
  .icon-address {
    margin-right: 10px;
  }
  .header-contacts {
    margin-left: 30px;
  }
  .social-header-list {
    display: none;
  }
  .header-contact-mail:hover,
  .header-contact-mail:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contacts:hover,
  .header-contacts:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

//.icon-address {
//margin-right: 10px;
// fill: currentColor;
//}

//.header {
//display: flex;
//align-items: center;
//border: 1px solid #ececec;

// &-contact-mail,
// &-contacts {
//   display: flex;
//  align-items: center;
// justify-content: center;
// transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
//}

//&-contact {
//  display: flex;
//  align-items: center;
//}

//&-contact-link:focus,
//&-contact-link:hover {
// color: var(--accent-color);
//transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//}
//&-contacts:hover,
//&-contacts:focus {
// color: var(--accent-color);
//transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//}
//&-contact-mail:hover,
//&-contact-mail:focus {
//  color: var(--accent-color);
//}
//&-contacts,
//&-contact-mail {
// color: #757575;
//}
//}

//.navigation {
// display: flex;
// align-items: center;

// &-list-link {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.02em;
//   color: #212121;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

//&-list {
//  display: flex;
//  align-items: center;
//}

//&-list-item {
//  padding-top: 32px;
//  padding-bottom: 32px;
//}
//&-list-link:focus,
//&-list-link:hover {
//  color: var(--accent-color);
//}
//}

//.navigation-list-item:not(:last-child) {
//  margin-right: 50px;
//}

//.header-contact-link:not(:last-child) {
//  margin-right: 40px;
//}

//.nav-list-link {
//  color: var(--accent-color);
//  position: relative;

//&:after {
//  content: "";
//  display: block;
//  position: absolute;
//  width: 100%;
//  height: 4px;
//  top: 44px;
//  background: var(--accent-color);
//  border-radius: 2px;
//}
//}

//.address {
//  display: flex;
//  margin-left: auto;
//  font-weight: 500;
//  font-size: 14px;
//  line-height: 1.142;
//  letter-spacing: 0.02em;
//}
